* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #41bdd9;
  text-align: center;
  min-height: 98vh;
  position: relative;
}

header {
  padding: 1rem;
  margin: 1rem;
}

header h1 {
  font-size: 3rem;
  text-align: center;
  color: #d0d7d9;
  font-weight: 900;
}

main {
  background-color: #d0d7d9;
  padding: 2rem;
  max-width: 30rem;
  margin: 0 auto;
  border-radius: 0.7rem;
  box-shadow: 0.2rem 0.5rem 3rem 0.2rem;
  margin-top: 2rem;
  text-align: center;
}

form input,
label {
  margin-left: 0.2rem;
  margin-bottom: 1.5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  max-width: 12rem;
  font-size: 1rem;
}

form input:hover,
form input:active {
  border: 0.15rem solid #8c377e;
}

button {
  padding: 0.5rem;
  margin: 1rem 0 2rem 0;
  background-color: #0388a6;
  color: #d9b26a;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.4rem;
}

button:hover {
  background-color: #00758f;
  color: #d9b26a;
  font-weight: 900;
  box-shadow: 0.1rem 0.1rem 0.9rem 0.1rem rgba(0, 0, 0, 0.356);
}

#resultadoDiv {
  background-color: #87ceeb;
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 0.9rem 0.1rem rgba(115, 141, 151, 0.356);
}

#resultadoDiv p {
  text-align: center;
  font-size: 1.4rem;
  color: #393a3a;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #0388a6;
  color: #d0d7d9;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: 500;
}
